.App {
    text-align: center;
}

.app-header {
    background-color: #282c34;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}
