.container {
    max-width: 800px;
    margin: 0 5%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
}

.preview-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.location {
    margin-bottom: 5px;
}

.phoneNumber,
.email {
    margin: 0;
    font-size: 14px;
}

.work-experience-container,
.education-container {
    grid-column: 2/-1;
}

.jobTitle,
.subject {
    font-size: 20px;
    font-weight: bold;
}

.university,
.companyName {
    margin: 0;
    font-weight: 500;
    font-style: italic;
}

.description {
    font-weight: 400;
}
